
<div class="row">
  <div class="col-sm-12">
    <h2 class="header-box">
      Login
    </h2>
    <%= form_for(:session_data, url: sessions_path) do |f| %>
      <div class="form-group">
        <%= f.label :email_address %>:
        <%= f.email_field :email_address, class: "form-control"%>

        <%= f.label :password %>:
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <%= f.submit "Login", class: "btn btn-info" %>
    <% end %>
  </div>
</div>
