<h1>Hello, <%= @user.username %></h1>

<div class="row">
  <div class="col-sm-6">
    <h2>
      <%= link_to 'Top Selling Products' %>
    </h2>
    <ul>
      <% Product.top_selling(@user.products, 3).each do |product| %>
        <li>
          <%= product %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-6">
    <h2>
      <%= link_to 'Recent Orders' %>
    </h2>
    <ul>
      <% @user.orders.sort_by{|order| order.created_at}.first(3).each do |order|  %>
        <li>
          <%= link_to "Order #{order.id}", order_path(order.id) %> 
        </li>
      <% end %>
    </ul>
  </div>
</div>