<h1>Your Cart</h1>

<% if @cart_status == "empty" %>
  <p> Your cart is empty <p>
<% else %>

  <div class="table-master">
  <table class='table table-hover'>
    <% @order.orderitems.each do |orderitem| %>
    <tr>
      <td class="table-headers">
        Product
      </td>
      <td>
        <%= orderitem.product.name %>
      </td>
    </tr>
    <tr>
      <td class="table-headers">
        Description
      </td>
      <td>
        <%= orderitem.product.description%>
      </td>
    </tr>
    <tr>
      <td class="table-headers">
        Price
      </td>
      <td>
        <%= orderitem.product.price %>
      </td>
    </tr>
    <tr>
      <td class="table-headers">
        Photo
      </td>
      <td>
        <%= image_tag orderitem.product.photo_url %>
      </td>
    </tr>
    <tr>
      <td class="table-headers">
        Category
      </td>
      <td>
        <% orderitem.product.categories.each do |category| %>
        <%= category.name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="table-headers">
        Quantity
      </td>
      <td>
        <%= orderitem.quantity %>
      </td>
    </tr>
    <% end %>
    </table>
  </div>
    <%= button_to "Empty Cart", clear_cart_path, method: :delete %>
    <br>
    <br>

<% end %>
