<h1> Order Confirmation for <%= @order.cc_name %></h1>


  <medium> Email: <%= @order.email_address %> </medium>
  <medium> Mailing Address: <%= @order.mailing_address %> </medium>
  <medium> Zip: @order.zip <%= @order.status %> </medium>


  <medium> Orders: <%= @order.products %> </medium>
  <medium> Placed at: <%= @order.placed_at %> </medium>
