<div class="row">
  <h1> Order <%= @order.id %></h1>
</div>
<div class="row">
  <div class="col-xs-12">
    <strong>Email:</strong> <%= @order.email_address %><br>
    <strong>Mailing Address: </strong><%= @order.mailing_address %><br>
    <strong>Zip: </strong><%= @order.zip %><br>
    <strong>Last Four Digits of CC:</strong><%= @order.last_four %><br>
    <strong>Status: </strong> <%= @order.status %><br>
    <strong> Placed at:</strong> <%= @order.placed_at.strftime("%B %d, %Y") %><br>
  </div>
  <div class="col-xs-12">
    
  </div>
</div>
