<%= render 'cat_navbar' %>
<div class="row">
  <h1 class="header-box">
    Products by Category
  </h1>
</div>

  <% @cat.to_ary.in_groups_of(3, false) do |group| %>
    <div class="row">
      <% group.each do |cat| %>
        <div class="col-sm-4">
        <h2>
          <%= link_to "#{cat.name}", category_path(cat), class: 'category-box' %>
        </h2>
        <% cat.top(3).each do |p| %>
            <%= image_tag "#{p.photo_url}", class: "img-responsive, product-page-img" %>
            <h4>
              <%= link_to "#{p.name}", product_path(p) %>
            </h4>
            <div>
              <% if @current_user != nil %>
                <% if p.user_id != @current_user.id %>
                  <%= button_to "Add to Cart", buy_path(p.id), class: "btn btn-success" %>
                <% end %>
              <% end %>
            </div>
        <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

