<h1><%= @title %></h1>
<div class="table-master">
<table class='table table-hover'>
  <tr>
    <td class="table-headers">
      Name
    </td>
    <td>
      <%= @product.name %>
    </td>
  </tr>
  <tr>
    <td class="table-headers">
      Description
    </td>
    <td>
      <%= @product.description%>
    </td>
  </tr>
  <tr>
    <td class="table-headers">
      Price
    </td>
    <td>
      <%= @product.price %>
    </td>
  </tr>
  <tr>
    <td class="table-headers">
      Photo
    </td>
    <td>
      <%= @product.photo_url %>
    </td>
  </tr>
  <tr>
    <td class="table-headers">
      Stock
    </td>
    <td>
      <%= @product.stock%>
    </td>
  </tr>
  <tr>
    <td class="table-headers">
      Category
    </td>
    <td>
      placeholder
    </td>
  </tr>
  <tr>
    <td class="table-headers">
      Reviews
    </td>
    <td>
      placeholder
    </td>
  </tr>
</table>
</div>

<%= link_to "View Product", product_path(@product.id), role: "button", class: "btn btn-default" %>
<%= button_to "Edit", edit_product_path(@product), method: :get, class: "btn btn-default" %>Edit button needs to filter for logged in only
<%= button_to "Delete", product_path(@product.id), method: :delete, class: "btn btn-default" %>
<%= button_to "All Products", products_path, method: :get, class: "btn btn-default" %>

Need add review button to go to review form and filter so owner of product cannot see
Need buy button to go to that filters so owner of product cannot see
Need add category button
